:root {
    --coral: #F05D5E;
    --teal: #6bb0b1;
    --light: #E7ECEF;
    --dark: #272932;
    --camel: #D8A47F;
}

html {
    font-size: 100%;
}

body {
    background-color: var(--light);
}

h1 {
    font-size: 2.25rem;
}

p {
    font-size: 0.75rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    padding: 10px;
    margin: 10px;
    flex: 1 1 20%;
    border: 2px solid var(--teal);
}

.card p {
    display: none;
}

img {
    width: 250px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --teal: #009595;
        --camel: #94582d;
    }

    body {
        background-color: var(--dark);
        color: antiquewhite;
    }
}

@media only screen and (min-width: 700px){
    body {
        background-color: var(--camel);
    }

    h1 {
        font-size: 2.50rem;
    }

    h2 {
        font-size: 1.75rem
    }

    h3 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }  

    .card p {
        display: block;
    }
}

@media only screen and (min-width: 1000px){
    body {
        background-color: var(--teal);
    }
    
    .card {
        border: 2px solid black ;
    }

    h1 {
        font-size: 2.75rem;
    }

    p {
        font-size: 1.25rem;
    } 
}




