:root {
    --coral: #F05D5E;
    --teal: #6bb0b1;
    --light: #E7ECEF;
    --dark: #272932;
    --camel: #D8A47F;
    --antiquewhite: antiquewhite;
    --title-font-desktop: 2.75rem;
    --small-font-desktop: 1.25rem;
    --title-font-tablet: 2.50rem;
    --large-font-tablet: 1.75rem;
    --medium-font-tablet: 1.5rem;
    --small-font-tablet: 1rem;
    --default-large-font: 2.25rem;
    --default-small-font: 0.75rem;
}

html {
    font-size: 100%;
}

body {
    font-family: 'Courgette', cursive;
    background-color: var(--light);
    color: #2a2323;
}

h1 {
    font-size: var(--default-large-font);
}

p {
    font-size: var(--default-small-font);
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    padding: 10px;
    margin: 10px;
    flex: 1 1 20%;
    border: 2px solid var(--teal);
}

img {
    width: 250px;
}

.nav-container {
    display: flex;
    background: var(--dark);
    justify-content: space-between;
    font-size: 1.5rem;
}
.nav-container a {
    text-decoration: none;
    padding: 20px 20px;
    color: aliceblue;
}

.nav-container a.item {
    display: none;
}

#cat-ipsum {
    display: none;
}

@media (prefers-color-scheme: dark) {
    :root {
        --teal: #009595;
        --camel: #94582d;
    }

    body {
        background-color: var(--dark);
        color: var(--antiquewhite);
    }

    .nav-container {
        background: var(--light);
    }

    .nav-container a {
        color: var(--dark);
    }

    #cat-ipsum {
        display: block;
    }
}

@media only screen and (min-width: 700px){
    body {
        background-color: var(--camel);
    }

    .nav-container a.item {
        display: block;
    }

    .nav-container a.icon {
        display: none;
    }

    h1 {
        font-size: var(--title-font-tablet);
    }

    h2 {
        font-size: var(--large-font-tablet);
    }

    h3 {
        font-size: var(--medium-font-tablet);
    }

    p {
        font-size: var(--small-font-tablet);
    }  
}

@media only screen and (min-width: 1000px){
    body {
        background-color: var(--teal);
    }
    
    .card {
        border: 2px solid var(--dark) ;
    }

    h1 {
        font-size: var(--title-font-desktop);
    }

    p {
        font-size: var(--small-font-desktop);
    } 
}



